@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=PT+Serif:ital@1&family=Source+Code+Pro&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--font-heading: 'PT Serif', serif;
	--font-text: 'Montserrat', sans-serif;
	--font-accent: 'Source Code Pro', monospace;
}

body {
	font-family: var(--font-text);
}

h1,
h2,
h3 {
	font-family: var(--font-heading);
}

a,
li {
	font-family: var(--font-accent);
}

.tag-box {
	font-size: 0.75rem;
	padding: 0.5rem 0;
}

.tag-box a {
	margin: 1rem 0.5rem;
	padding: 0.25rem;
	background-color: #3bb3fe;
	color: #fff;
}
